.choice{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  .choice__title{
    font-size: 24px;
    text-align: center;
  }
  .choice__button{
    width: 139px;
    height: 41px;
    background-color: $dark;
    border-radius: 16px;
    color: #FFFFFF;
    font-size: 14px;
  }
  .choice__text{
    font-size: 18px;
    text-align: center;
  }
}