.fans{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 16px;
  .fans__title{
    font-size: 24px;
    @include tab{
      font-size: 36px;
    }
  }
  .fans__text{
    font-size: 14px;
    width: 256px;
    text-align: center;
    line-height: 30px;
    @include tab{
      font-size: 18px;
      width: 100vw;
    }
  }
  .fans__button{
    background-color: $dark;
    width: 139px;
    height: 41px;
    border-radius: 16px;
    color: #FFFFFF;
    font-size: 14px;
      @include tab{
        width: 165px;
        font-size: 16px;
    }
  }
  .fans__img__Jaden{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 8px;
  }
}