.footer{
  background-color: $dark;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  .footer__copyright{
    font-size: 12px;
    color: white;
    padding-top: 100s;
    @include tab{
      font-size: 14px;
    }
  }
}